.maxw-fit {
    max-width: fit-content;
}

.maxh-fit {
    max-height: fit-content;
}

.inline-circle {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@for $i from 0 through 10 {
    .max-vh-#{$i}0 {
        max-height: #{$i}0vh;
    }
}

.maxw-100 {
    max-width: 100%;
}

#sidebar-indicator {
    &::before {
        content: "navbar at the top";
    }

    @include media-breakpoint-up(md) {
        &::before {
            content: "sidebar on the left";
        }
    }
}