.navbar-collapse {
    flex-basis: auto !important;
}

#sidebar {
    max-height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1021;

    #sidebarContent {
        .nav-link > span {
            display: inline-flex;
            justify-content: center;

            &::before {
                display: block;
                content: "🛠\00a0";
                max-width: 0em;
                padding-right: 0;
                overflow: hidden;
                transition: max-width 200ms ease-in-out;
                transform-origin: 0% 50%;
            }

            &:hover::before {
                max-width: 2em;
            }
        }
    }

    #footer a {
        color: var(--bs-body-color);

        &:hover {
            color: var(--bs-emphasis-color);
        }
    }
}
