table .sticky-top {
    // Excludes navbar height for mobile
    top: 3.5em;

    @include media-breakpoint-up(md) {
        & {
            top: 0;
        }
    }
}

.table-fixed {
    table-layout: fixed;
    overflow-wrap: break-word;
}
