name: Check ESLint

on:
  push:
    branches:
      - main
    paths:
      - "src/**/*.{js,jsx,ts,tsx}"
      - "eslint.config.{js,mjs}"
      - "tsconfig.json"
      - "package.json"
      - "bun.lock"

  pull_request:

  workflow_dispatch:

jobs:
  linting:
    permissions:
      contents: read

    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Run install
        run: bun install --frozen-lockfile

      - name: Lint check
        run: bun run lint
